
  <%= form_with(model: [ @post, Comment.new ]) do |form| %>

    <% if comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(comment.errors.count, "Error:") %> No se puede guardar comentario:</h2>

        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control", rows: 4 %>
    </div>

    <div class="mb-3">
      <%= form.submit %>
    </div>
  <% end %>


